<div class="bg-stats m-3" style="color: rgb(219, 217, 217);">
  <h3 class="text-white m-2">Stats</h3>

  <div class="row justify-content-center">
    <div class="col">
      <h5 class="m-2">Total kills: 123</h5>
      <h5 class="m-2">Total deaths: 123</h5>
      <h5 class="m-2">Total time played: 123</h5>
      <h5 class="m-2">Total planted bombs: 123</h5>
      <h5 class="m-2">Total defused bombs: 123</h5>
    </div>

    <div class="col">
      <h5 class="m-2">Total wins: 123</h5>
      <h5 class="m-2">Total kills by knife : 123</h5>
      <h5 class="m-2">Total kills by grenage: 123</h5>
      <h5 class="m-2">Total MVPS : 123</h5>
      <h5 class="m-2">Archievements count : 123</h5>
    </div>

  </div>
</div>