<div class="bg-stats m-3" style="color: rgb(219, 217, 217);">
  <h3 class="text-white m-2">Statistics</h3>

  <div class="row justify-content-center">
    <div class="col">
      <h5 class="m-2">Total kills <img src="assets/icons/kill.png" width="40" height="40"/> : 123</h5>
      <h5 class="m-2">Total deaths <img src="assets/icons/death.png" width="35" height="35"/> : 123</h5>
      <h5 class="m-2">Total time played <img src="assets/icons/time.png" width="35" height="35"/> : 123</h5>
      <h5 class="m-2">Total planted bombs <img src="assets/icons/planted_bomb.png" width="35" height="35"/> : 123</h5>
      <h5 class="m-2">Total defused bombs <img src="assets/icons/defused_bomb.png" width="35" height="35"/> : 123</h5>
    </div>

    <div class="col">
      <h5 class="m-2">Total wins <img src="assets/icons/win.png" width="35" height="35"/> : 123</h5>
      <h5 class="m-2">Total kills by knife <img src="assets/icons/knife.png" width="38" height="38"/> : 123</h5>
      <h5 class="m-2">Total kills by grenage <img src="assets/icons/grenade.png" width="38" height="36"/> : 123</h5>
      <h5 class="m-2">Total MVPS <img src="assets/icons/mvp.png" width="38" height="34"/> : 123</h5>
      <h5 class="m-2">Archievements count <img src="assets/icons/achievment.png" width="38" height="38"/> : 123</h5>
    </div>

  </div>
</div>