<div class="bg-comments m-3" style="color: rgb(219, 217, 217); min-width: 68%;">
  <h3 class="text-white m-2">Comments</h3>

  <mdb-form-control class="form-white m-3">
    <textarea mdbInput class="form-control" id="textAreaExample" rows="4"></textarea>
    <label mdbLabel class="form-label" for="textAreaExample">Write your comment</label>
  </mdb-form-control>

  <button type="button" class="btn btn-info btn-rounded" style="float: right; margin-right: 5%; background-color: #481449;">Send comment</button>
</div>