<div class="d-flex mb-5">
  <div class="avatar-container border border-2 border-info"></div>

  <div class="row justify-content-around mt-2" style="width: 80%;">
    <div class="col-8">
      <h3 class="text-white">Nickname</h3>

      <div class="d-flex align-items-center">
        <img
          src="https://cdn-icons.flaticon.com/png/512/3955/premium/3955523.png?token=exp=1659006917~hmac=5df115cc1a6029b4cd5730aa69a8afe1"
          height="32">
        <h5 style="color: rgb(138, 135, 135); margin-bottom: 0;"> Belarus</h5>
      </div>

      <h6 class="mt-2" style="color: rgb(138, 135, 135); margin-left: 2px;">Description...</h6>
    </div>

    <div class="col text-white">
      <div class="d-flex align-items-center">
        <h3 style="margin-bottom: 0; margin-right: 10px;">Level</h3>
        <button type="button" class="btn btn-outline-light btn-floating">
          <div style="font-size: 18px;">5</div>
        </button>
      </div>
    </div>
  </div>
</div>