.avatar-container {
    background-image: url("https://mdbootstrap.com/img/new/standard/city/041.webp");
    background-size:100% 100%;
    width: 164px;
    height: 164px;
    background-repeat: no-repeat;
    margin-left: 2.5rem;
    margin-right: 24px;
}