<div class="d-flex">
  <img src="https://avatars.akamai.steamstatic.com/060608f9ccc1a97a7c99441be07b8410ded840e3_medium.jpg"
    width="64" height="64" />
  <div class="m-2">
    <h6 class="text-white">_=Pisos-Pro=_</h6>
    <h6>Участников: 13,137</h6>
  </div>
</div>

<div class="d-flex">
  <img style="margin-top: 10px;"
    src="https://avatars.akamai.steamstatic.com/6cf6289bea80ab0b4b96723741a24a89d9b7596f.jpg" width="32"
    height="32" />
  <div style="margin: 8px; font-size: 13px;">
    <p class="text-white m-0">Na'Vi Team</p>
    <p style="margin-bottom: 0;">Участников: 1,759,711</p>
  </div>
</div>

<div class="d-flex">
  <img style="margin-top: 10px;"
    src="https://avatars.akamai.steamstatic.com/31d7d5ded7f7be16878bc4abdb5b8b86f3592230.jpg" width="32"
    height="32" />
  <div style="margin: 8px; font-size: 13px;">
    <p class="text-white m-0">Marmok Brothers</p>
    <p style="margin-bottom: 0;">Участников: 42,142</p>
  </div>
</div>