<div class="d-flex justify-content-between">
  <div class="d-flex">
    <img style="margin-top: 10px;"
      src="https://avatars.akamai.steamstatic.com/980c59739f4c40aa2dc72e5701cea835cae9f2f1_medium.jpg" width="32"
      height="32" />
    <div style="margin: 8px; font-size: 11px;">
      <p class="m-0">homesender</p>
      <p style="margin-bottom: 0;">Active</p>
    </div>
  </div>
  
  <button type="button" class="btn btn-outline-light btn-floating" style="margin-top: 10px; height: 30px; width: 30px;">
    <div style="font-size: 18px;">5</div>
  </button>
</div>

<div class="d-flex justify-content-between">
  <div class="d-flex">
    <img style="margin-top: 10px;"
      src="https://avatars.akamai.steamstatic.com/980c59739f4c40aa2dc72e5701cea835cae9f2f1_medium.jpg" width="32"
      height="32" />
    <div style="margin: 8px; font-size: 11px;">
      <p class="m-0">homesender</p>
      <p style="margin-bottom: 0;">Active</p>
    </div>
  </div>
  
  <button type="button" class="btn btn-outline-light btn-floating" style="margin-top: 10px; height: 30px; width: 30px;">
    <div style="font-size: 18px;">5</div>
  </button>
</div>

<div class="d-flex justify-content-between">
  <div class="d-flex">
    <img style="margin-top: 10px;"
      src="https://avatars.akamai.steamstatic.com/980c59739f4c40aa2dc72e5701cea835cae9f2f1_medium.jpg" width="32"
      height="32" />
    <div style="margin: 8px; font-size: 11px;">
      <p class="m-0">homesender</p>
      <p style="margin-bottom: 0;">Active</p>
    </div>
  </div>
  
  <button type="button" class="btn btn-outline-light btn-floating" style="margin-top: 10px; height: 30px; width: 30px;">
    <div style="font-size: 18px;">5</div>
  </button>
</div>
