<div class="d-flex justify-content-start bg-link-col">
  <div class="bg-transparent card mb-3">
    <div class="card-header">Active</div>

    <div class="card-body justify-content-center">
      <a class="row card-title" routerLink='/profile/{{authService.user?.id}}/games' style="padding-right: 0; color: rgb(190, 187, 187);">
        <h5 class="col" style="padding-right: 0;">Games: 12</h5>
      </a>

      <a class="row card-title" routerLink='/profile/{{authService.user?.id}}/groups' style="padding-right: 0; color: rgb(190, 187, 187);">
        <h5 class="col" style="padding-right: 0;">Groups: 5</h5>
      </a>

      <a class="row card-title" routerLink='/profile/{{authService.user?.id}}/friends' style="padding-right: 0; color: rgb(190, 187, 187);">
        <h5 class="col" style="padding-right: 0;">Friends: 9</h5> 
      </a>
    </div>
  </div>
</div>